In [1]:
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd

Rezagopath = "IRS2015.xlsx"
Rez = pd.read_excel(Rezagopath)
pd.set_option('display.max_columns', None)
Rezi=Rez.sort_values(by=["Clave Municipio"], ascending=True)
Rezi.head(5)

,Clave Estado,Estado,Clave Municipio,Municipio,Población 2015,Grado de Rezago Social 2015,Ranking nacional
0,01,Aguascalientes,1001.0,Aguascalientes,877190.0,Muy bajo,2397
1,01,Aguascalientes,1002.0,Asientos,46464.0,Bajo,1950
2,01,Aguascalientes,1003.0,Calvillo,56048.0,Bajo,2077
3,01,Aguascalientes,1004.0,Cosío,15577.0,Muy bajo,2164
4,01,Aguascalientes,1005.0,Jesús María,120405.0,Muy bajo,2286

In [2]:
Sucurpath = "../combined_sucursales.csv"
Suc = pd.read_csv(Sucurpath)
pd.set_option('display.max_columns', None)
Suc.head(2)

/Users/imems/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (4,14,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CVE_TIPO_S,CVE_PERIOD,CVE_INSTIT,NOMBRE_PUB,DAT_PUNTO_,DAT_DENOMI,CVE_TIPO_P,DL_TIPO_PU,CVE_SITUAC,DL_SITUACI,DAT_FECHA_,DAT_CALLE,DAT_NUMERO,DAT_NUME_1,CVE_COLONI,CVE_LOCALI,CVE_MUNICI,DL_MUNICIP,CVE_ESTADO,DL_ESTADO,DAT_LATITU,DAT_LONGIT,DL_MUNIC_1,CODIGO_POS
0,40,201706,40002,BANAMEX,1,NOGALES SON,241,SUCURSAL,433,EN OPERACIËN,1928-01-01 00:00:00.000,PLUTARCO ELIAS CALLES Y A OBREGON SN,S N,S N,84000661,484260430001,43,NOGALES,26,SONORA,31.300127,-110.938089,NOGALES CENTRO,84000
1,40,201706,40002,BANAMEX,10,GUASAVE SIN,241,SUCURSAL,433,EN OPERACIËN,1943-04-26 00:00:00.000,IGNACIO ZARAGOZA Y CORREGIDORA CENTR,SN,S N,81000001,484250110001,11,GUASAVE,25,SINALOA,25.561278,-108.460731,CENTRO,81000

In [ ]:
Suci=Suc.sort_values(by=["Clave Municipio"], ascending=True)
Suci.head(5)

In [ ]:
# quitar acentos
#poner mayusculas
#merge