In [32]:
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd

Rezagopath = "IRS2015.xlsx"
Rez = pd.read_excel(Rezagopath)
pd.set_option('display.max_columns', None)
Rez.head(5)

,Clave Estado,Estado,Clave Municipio,Municipio,Población 2015,Grado de Rezago Social 2015,Ranking nacional
0,01,Aguascalientes,1001.0,Aguascalientes,877190.0,Muy bajo,2397
1,01,Aguascalientes,1002.0,Asientos,46464.0,Bajo,1950
2,01,Aguascalientes,1003.0,Calvillo,56048.0,Bajo,2077
3,01,Aguascalientes,1004.0,Cosío,15577.0,Muy bajo,2164
4,01,Aguascalientes,1005.0,Jesús María,120405.0,Muy bajo,2286

In [34]:
Rezi=Rez.sort_values(by=["Clave Municipio"], ascending=False)
Rezi.head(5)

,Clave Estado,Estado,Clave Municipio,Municipio,Población 2015,Grado de Rezago Social 2015,Ranking nacional
2456,32,Zacatecas,32058.0,Santa María de la Paz,2656.0,Bajo,1855
2455,32,Zacatecas,32057.0,Trancoso,19413.0,Bajo,1873
2454,32,Zacatecas,32056.0,Zacatecas,146147.0,Muy bajo,2423
2453,32,Zacatecas,32055.0,Villanueva,30240.0,Bajo,1976
2452,32,Zacatecas,32054.0,Villa Hidalgo,19155.0,Bajo,1640

In [ ]:
# quitar acentos
#poner mayusculas
#merge