In [2]:
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd

Sucurpath = "../combined_sucursales.csv"
Suc = pd.read_csv(Sucurpath)
pd.set_option('display.max_columns', None)
Suc.head(1)

/Users/imems/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (4,14,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CVE_TIPO_S,CVE_PERIOD,CVE_INSTIT,NOMBRE_PUB,DAT_PUNTO_,DAT_DENOMI,CVE_TIPO_P,DL_TIPO_PU,CVE_SITUAC,DL_SITUACI,DAT_FECHA_,DAT_CALLE,DAT_NUMERO,DAT_NUME_1,CVE_COLONI,CVE_LOCALI,CVE_MUNICI,DL_MUNICIP,CVE_ESTADO,DL_ESTADO,DAT_LATITU,DAT_LONGIT,DL_MUNIC_1,CODIGO_POS
0,40,201706,40002,BANAMEX,1,NOGALES SON,241,SUCURSAL,433,EN OPERACIËN,1928-01-01 00:00:00.000,PLUTARCO ELIAS CALLES Y A OBREGON SN,S N,S N,84000661,484260430001,43,NOGALES,26,SONORA,31.300127,-110.938089,NOGALES CENTRO,84000

In [3]:
SucClean = Suc.dropna(how='any')
SucClean.drop(SucClean.loc[SucClean['DL_SITUACI']=="BAJA"].index, inplace=True)
SucClean.drop(SucClean.loc[SucClean['DL_ESTADO']=="GRAND CAYMAN"].index, inplace=True)
SucClean.drop(["CVE_TIPO_S","CVE_PERIOD","CVE_INSTIT","DAT_DENOMI","CVE_SITUAC","DL_SITUACI","DAT_FECHA_","DAT_CALLE","DAT_NUMERO","DAT_NUME_1","CVE_COLONI","CVE_LOCALI","DL_MUNIC_1","CODIGO_POS"], axis = 1,inplace=True)
SucClean.head(2)

/Users/imems/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,NOMBRE_PUB,DAT_PUNTO_,CVE_TIPO_P,DL_TIPO_PU,CVE_MUNICI,DL_MUNICIP,CVE_ESTADO,DL_ESTADO,DAT_LATITU,DAT_LONGIT
0,BANAMEX,1,241,SUCURSAL,43,NOGALES,26,SONORA,31.300127,-110.938089
1,BANAMEX,10,241,SUCURSAL,11,GUASAVE,25,SINALOA,25.561278,-108.460731

In [4]:
SucursalesFinal=SucClean.rename(columns = {"NOMBRE_PUB":"Nombre público","DAT_PUNTO_":"ID Banco","CVE_TIPO_P":"Clave de Servicio","DL_TIPO_PU":"Tipo de Servicio","CVE_MUNICI":"Clave Municipio","DL_MUNICIP":"Municipio","CVE_ESTADO":"Clave Estado","DL_ESTADO":"Estado","DAT_LATITU":"Latitud","DAT_LONGIT":"Longitud"})
SucursalesFinal.head(2)

,Nombre público,ID Banco,Clave de Servicio,Tipo de Servicio,Clave Municipio,Municipio,Clave Estado,Estado,Latitud,Longitud
0,BANAMEX,1,241,SUCURSAL,43,NOGALES,26,SONORA,31.300127,-110.938089
1,BANAMEX,10,241,SUCURSAL,11,GUASAVE,25,SINALOA,25.561278,-108.460731

In [5]:
SucursalesFinal.to_csv("Sucursales.csv", index=False, header=True)

In [9]:
Suci=Suc.sort_values(by=["CVE_MUNICI"], ascending=False)
Suci.head(5)

,CVE_TIPO_S,CVE_PERIOD,CVE_INSTIT,NOMBRE_PUB,DAT_PUNTO_,DAT_DENOMI,CVE_TIPO_P,DL_TIPO_PU,CVE_SITUAC,DL_SITUACI,DAT_FECHA_,DAT_CALLE,DAT_NUMERO,DAT_NUME_1,CVE_COLONI,CVE_LOCALI,CVE_MUNICI,DL_MUNICIP,CVE_ESTADO,DL_ESTADO,DAT_LATITU,DAT_LONGIT,DL_MUNIC_1,CODIGO_POS
35216,40,201706,40012,BBVA BANCOMER,6066,HOUSTON,241,SUCURSAL,433,EN OPERACIËN,2016-01-01 00:00:00.000,GALLERIA FINANCIAL,5085,SN,E0125001,484999999999,999,MIGRACION,99,MIGRACION,NaN,NaN,NaN,E0125
494146,40,201706,40062,AFIRME,20111,ZIMATLAN DE ALVAREZ,242,OFICINA ADMINISTRATIVA CON ATENCION AL PUBLICO,433,EN OPERACIËN,2016-06-30 00:00:00.000,AV JUAREZ,SN,SN,71200008,484205700001,570,ZIMATLAN DE ALVAREZ,20,OAXACA,16.515875,-96.471490,EXPIRACION,71200
26353,40,201706,40012,BBVA BANCOMER,4516100,MI BODEGA ZIMATLAN,248,COMISIONISTA,433,EN OPERACIËN,2016-01-01 00:00:00.000,RAFAEL CARRE?O,401,SN,71200008,484205700001,570,ZIMATLAN DE ALVAREZ,20,OAXACA,16.867833,-96.790108,EXPIRACION,71200
7618,40,201706,40002,BANAMEX,7855,ZIMATLAN 1,244,CAJERO AUTOMATICO (ATM) SOLO RETIROS,433,EN OPERACIËN,1998-03-26 00:00:00.000,PROGRESO,2,S N,71200008,484205700001,570,ZIMATLAN DE ALVAREZ,20,OAXACA,16.867372,-96.784575,EXPIRACION,71200
116504,40,201706,40014,SANTANDER,20111,ZIMATLAN DE ALVAREZ,248,COMISIONISTA,433,EN OPERACIËN,2010-03-01 00:00:00.000,AV JUAREZ,SN,SN,71200008,484205700001,570,ZIMATLAN DE ALVAREZ,20,OAXACA,15.765278,-96.138333,EXPIRACION,71200