In [12]:
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd

Sucurpath = "../combined_sucursales.csv"
Suc = pd.read_csv(Sucurpath)
pd.set_option('display.max_columns', None)

In [13]:
SucClean = Suc.dropna(how='any')
SucClean.drop(SucClean.loc[SucClean['DL_SITUACI']=="BAJA"].index, inplace=True)
SucClean.drop(SucClean.loc[SucClean['DL_ESTADO']=="GRAND CAYMAN"].index, inplace=True)
SucClean.drop(["CVE_TIPO_S","CVE_PERIOD","CVE_INSTIT","DAT_DENOMI","CVE_SITUAC","DL_SITUACI","DAT_FECHA_","DAT_CALLE","DAT_NUMERO","DAT_NUME_1","CVE_COLONI","CVE_LOCALI","DL_MUNIC_1","CODIGO_POS"], axis = 1,inplace=True)

In [15]:
SucursalesFinal=SucClean.rename(columns = {"NOMBRE_PUB":"Nombre público","DAT_PUNTO_":"ID Banco","CVE_TIPO_P":"Clave de Servicio","DL_TIPO_PU":"Tipo de Servicio","CVE_MUNICI":"Clave Municipio","DL_MUNICIP":"Municipio","CVE_ESTADO":"Clave Estado","DL_ESTADO":"Estado","DAT_LATITU":"Latitud","DAT_LONGIT":"Longitud"})
SucursalesFinal.head(2)

,Nombre público,ID Banco,Clave de Servicio,Tipo de Servicio,Clave Municipio,Municipio,Clave Estado,Estado,Latitud,Longitud
0,BANAMEX,1,241,SUCURSAL,43,NOGALES,26,SONORA,31.300127,-110.938089
1,BANAMEX,10,241,SUCURSAL,11,GUASAVE,25,SINALOA,25.561278,-108.460731

In [20]:
SucursalesFinal[["Clave Municipio","Clave Estado"]]=SucursalesFinal[["Clave Municipio","Clave Estado"]].astype(str)
SucursalesFinal.head(2)

,Nombre público,ID Banco,Clave de Servicio,Tipo de Servicio,Clave Municipio,Municipio,Clave Estado,Estado,Latitud,Longitud
0,BANAMEX,1,241,SUCURSAL,43,NOGALES,26,SONORA,31.300127,-110.938089
1,BANAMEX,10,241,SUCURSAL,11,GUASAVE,25,SINALOA,25.561278,-108.460731

In [21]:
SucursalesFinal.dtypes

Nombre público        object
ID Banco              object
Clave de Servicio      int64
Tipo de Servicio      object
Clave Municipio       object
Municipio             object
Clave Estado          object
Estado                object
Latitud              float64
Longitud             float64
dtype: object

In [22]:
SucursalesFinal['Clave Estado-Municipio'] = SucursalesFinal['Clave Estado'] +"-"+ SucursalesFinal['Clave Municipio']
SucursalesFinal.head(2)

,Nombre público,ID Banco,Clave de Servicio,Tipo de Servicio,Clave Municipio,Municipio,Clave Estado,Estado,Latitud,Longitud,Clave Estado-Municipio
0,BANAMEX,1,241,SUCURSAL,43,NOGALES,26,SONORA,31.300127,-110.938089,26-43
1,BANAMEX,10,241,SUCURSAL,11,GUASAVE,25,SINALOA,25.561278,-108.460731,25-11

In [23]:
SucursalesFinal = SucursalesFinal[['ID Banco', 'Nombre público', 'Clave de Servicio', 'Tipo de Servicio',"Clave Estado-Municipio","Clave Municipio","Clave Estado","Municipio","Estado","Latitud","Longitud"]]
SucursalesFinal.head(2)

,ID Banco,Nombre público,Clave de Servicio,Tipo de Servicio,Clave Estado-Municipio,Clave Municipio,Clave Estado,Municipio,Estado,Latitud,Longitud
0,1,BANAMEX,241,SUCURSAL,26-43,43,26,NOGALES,SONORA,31.300127,-110.938089
1,10,BANAMEX,241,SUCURSAL,25-11,11,25,GUASAVE,SINALOA,25.561278,-108.460731

In [24]:
SucursalesFinal.to_csv("Sucursales.csv", index=False, header=True)

In [1]:
#Suci=Suc.sort_values(by=["CVE_MUNICI"], ascending=False)
#Suci.head(5)