In [38]:
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd

Sucurpath = "../combined_sucursales.csv"
Suc = pd.read_csv(Sucurpath)
pd.set_option('display.max_columns', None)

In [39]:
SucClean = Suc.dropna(how='any')
SucClean.drop(SucClean.loc[SucClean['DL_SITUACI']=="BAJA"].index, inplace=True)
SucClean.drop(SucClean.loc[SucClean['DL_ESTADO']=="GRAND CAYMAN"].index, inplace=True)
SucClean.drop(["CVE_TIPO_S","CVE_PERIOD","CVE_INSTIT","DAT_DENOMI","CVE_SITUAC","DL_SITUACI","DAT_FECHA_","DAT_CALLE","DAT_NUMERO","DAT_NUME_1","CVE_COLONI","CVE_LOCALI","DL_MUNIC_1","CODIGO_POS"], axis = 1,inplace=True)

In [40]:
SucursalesFinal=SucClean.rename(columns = {"NOMBRE_PUB":"Nombre público","DAT_PUNTO_":"ID Banco","CVE_TIPO_P":"Clave de Servicio","DL_TIPO_PU":"Tipo de Servicio","CVE_MUNICI":"Clave Municipio","DL_MUNICIP":"Municipio","CVE_ESTADO":"Clave Estado","DL_ESTADO":"Estado","DAT_LATITU":"Latitud","DAT_LONGIT":"Longitud"})
SucursalesFinal[["Clave Municipio","Clave Estado"]]=SucursalesFinal[["Clave Municipio","Clave Estado"]].astype(str)

In [41]:
SucursalesFinal['Clave Estado-Municipio'] = SucursalesFinal['Clave Estado'] +"-"+ SucursalesFinal['Clave Municipio']

In [42]:
SucursalesFinal = SucursalesFinal[['ID Banco', 'Nombre público', 'Clave de Servicio', 'Tipo de Servicio',"Clave Estado-Municipio","Clave Estado","Clave Municipio","Estado","Municipio","Latitud","Longitud"]]
SucursalesFinal.head(2)

,ID Banco,Nombre público,Clave de Servicio,Tipo de Servicio,Clave Estado-Municipio,Clave Estado,Clave Municipio,Estado,Municipio,Latitud,Longitud
0,1,BANAMEX,241,SUCURSAL,26-43,26,43,SONORA,NOGALES,31.300127,-110.938089
1,10,BANAMEX,241,SUCURSAL,25-11,25,11,SINALOA,GUASAVE,25.561278,-108.460731

In [ ]:
SucursalesFinal.to_csv("Sucursales.csv", index=False, header=True)

In [43]:
Suci=SucursalesFinal.sort_values(by=["Estado"], ascending=False)
Suci.head(2)

,ID Banco,Nombre público,Clave de Servicio,Tipo de Servicio,Clave Estado-Municipio,Clave Estado,Clave Municipio,Estado,Municipio,Latitud,Longitud
143466,236007,SANTANDER,247,TERMINAL PUNTO DE VENTA,32-22,32,22,ZACATECAS,JUAN ALDAMA,24.29048,-103.393590
270057,7049031,HSBC,247,TERMINAL PUNTO DE VENTA,32-56,32,56,ZACATECAS,ZACATECAS,22.76605,-102.557409