In [60]:
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd

Sucurpath = "../combined_sucursales.csv"
Suc = pd.read_csv(Sucurpath)
pd.set_option('display.max_columns', None)
Suc.head(1)

,CVE_TIPO_S,CVE_PERIOD,CVE_INSTIT,NOMBRE_PUB,DAT_PUNTO_,DAT_DENOMI,CVE_TIPO_P,DL_TIPO_PU,CVE_SITUAC,DL_SITUACI,DAT_FECHA_,DAT_CALLE,DAT_NUMERO,DAT_NUME_1,CVE_COLONI,CVE_LOCALI,CVE_MUNICI,DL_MUNICIP,CVE_ESTADO,DL_ESTADO,DAT_LATITU,DAT_LONGIT,DL_MUNIC_1,CODIGO_POS
0,40,201706,40002,BANAMEX,1,NOGALES SON,241,SUCURSAL,433,EN OPERACIËN,1928-01-01 00:00:00.000,PLUTARCO ELIAS CALLES Y A OBREGON SN,S N,S N,84000661,484260430001,43,NOGALES,26,SONORA,31.300127,-110.938089,NOGALES CENTRO,84000

In [61]:
SucClean = Suc.dropna(how='any')
SucClean.drop(SucClean.loc[SucClean['DL_SITUACI']=="BAJA"].index, inplace=True)
SucClean.drop(SucClean.loc[SucClean['DL_ESTADO']=="GRAND CAYMAN"].index, inplace=True)
SucClean.drop(["CVE_TIPO_S","CVE_PERIOD","CVE_INSTIT","DAT_DENOMI","CVE_SITUAC","DL_SITUACI","DAT_FECHA_","DAT_CALLE","DAT_NUMERO","DAT_NUME_1","CVE_COLONI","CVE_LOCALI","DL_MUNIC_1","CODIGO_POS"], axis = 1,inplace=True)
SucClean.head(2)

,NOMBRE_PUB,DAT_PUNTO_,CVE_TIPO_P,DL_TIPO_PU,CVE_MUNICI,DL_MUNICIP,CVE_ESTADO,DL_ESTADO,DAT_LATITU,DAT_LONGIT
0,BANAMEX,1,241,SUCURSAL,43,NOGALES,26,SONORA,31.300127,-110.938089
1,BANAMEX,10,241,SUCURSAL,11,GUASAVE,25,SINALOA,25.561278,-108.460731

In [65]:
SucursalesFinal=SucClean.rename(columns = {"NOMBRE_PUB":"Nombre público","DAT_PUNTO_":"ID Banco","CVE_TIPO_P":"Clave de Servicio","DL_TIPO_PU":"Tipo de Servicio","CVE_MUNICI":"Clave Municipio","DL_MUNICIP":"Municipio","CVE_ESTADO":"Clave Estado","DL_ESTADO":"Estado","DAT_LATITU":"Latitud","DAT_LONGIT":"Longitud"})
SucursalesFinal.head(2)

,Nombre público,ID Banco,Clave de Servicio,Tipo de Servicio,Clave Municipio,Municipio,Clave Estado,Estado,Latitud,Longitud
0,BANAMEX,1,241,SUCURSAL,43,NOGALES,26,SONORA,31.300127,-110.938089
1,BANAMEX,10,241,SUCURSAL,11,GUASAVE,25,SINALOA,25.561278,-108.460731

In [66]:
SucursalesFinal.to_csv("Sucursales.csv", index=False, header=True)